$primary-color:   #c62828;
$text-main:       #333;
$background-light: #fdfdfe;
$grey-header:     #e0e0e0;
$shadow-light:    rgba(0, 0, 0, .15);
$border-radius:   1rem;
$margin:          3rem 14rem;

// CONFIGURACIÓN BACKEND

* {
  letter-spacing: 0.01em !important;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
  color: $text-main !important;
  line-height: 1.5 !important;
}

.backend-card {
  margin: $margin;
  padding: 2rem;
  box-shadow: 15px 15px 15px 10px $shadow-light;
  background: $background-light;
  border-radius: $border-radius;

  .custom-icon {
    background-image: url(exclamation.svg); // Ruta desde "src"
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    display: inline-block;
    flex-shrink: 0;
  }

  h2 {
    font-weight: 600 !important;
    display: inline-block;
    font-size: 1.25rem;
    margin: 0;
    color: $text-main;
  }

  pre {
    background: transparent;
    font-family: 'Roboto', sans-serif !important;
    padding: 0;
    border-radius: $border-radius / 2;
    overflow-x: auto;
    margin: 1rem 0;
    white-space: normal;       // <-- clave
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}