@import 'variables';

// INFORMACIÓN INICIAL DEL MÉTODO
.info-card {
  padding: 1.4rem 2rem 0.6rem;
  background: $background-light;
  margin: $margin-info;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  border-left: $red-border;
  border-right: $red-border;
  line-height: $line-height !important;
  color: $text-color;
  font-family: $font-family;
}
