$primary-color:    #c62828;
$text-main:        #333;
$background-light: #fdfdfe;
$grey-header:      #e0e0e0;
$shadow-light:     rgba(0, 0, 0, .15);
$border-radius:    1rem;
$margin:           2rem 14rem;

// INFORMACIÓN INICIAL DEL MÉTODO
.info-card {
  background: $background-light;
  margin: $margin;
  box-shadow: 15px 15px 15px 10px $shadow-light;
  border-radius: $border-radius;
  border-left: 4px solid $primary-color;
  border-right: 4px solid $primary-color;
  line-height: 2 !important;

  .info-card__content {
    padding: .5rem 2rem;

    p {
      margin: 0.5rem 0;
      color: $text-main;
      strong {
        color: $text-main;
      }
    }
  }
}

