@import 'variables';

* {
  color: $text-main !important;
}

// 1) Tablas genéricas
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: $border-radius !important;
  overflow: hidden;

  thead {
    background: $table-grey-header;
    th {
      padding: 0.75rem 1rem;
      text-align: left;
      font-weight: 600;
      color: $text-main;
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background: #f1f1f1;
      }
    }
    td, th {
      background: $table-grey-columns;
      padding: 0.6rem 1rem;
      border: none;
      color: $text-main;
    }
  }

  // mensaje "No aplica"
  .no-aplica {
    padding: 1rem;
    text-align: center;
    font-style: italic;
  }

  .link {
    color: $red-1;
    cursor: pointer;
    text-decoration: underline;
  }
}
