@import 'variables';

* {
  color: var(--text-color) !important;
}

// 1) Tablas genéricas
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: var(--border-radius) !important;
  overflow: hidden;
  //border: 1px solid var(--table-header);
  scrollbar-width: thin;

  thead {
    background: var(--table-header);
    th {
      padding: 0.75rem 1rem;
      text-align: left;
      font-weight: 600;
      color: var(--text-color);
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background: #f1f1f1;
      }
    }
    td, th {
      background: var(--table-columns);
      padding: 0.6rem 1rem;
      border: none;
      color: var(--text-color);
    }
  }

  // mensaje "No aplica"
  .no-aplica {
    padding: 1rem;
    text-align: center;
    font-style: italic;
  }
}


