.api-page-container {
  display: flex;
  flex-wrap: wrap;         // permite varias filas si no caben todo en una
  gap: 1.5rem;             // espacio entre elementos
  align-items: flex-start; // alineados por la parte superior

  > * {
    flex: 1 1 300px;       // ancho base de 300px, crece o encoge según espacio
    min-width: 250px;      // nunca más estrecho que 250px
  }
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
}

.content-left {
  //width: 30rem; // o 25% si querés responsivo
  flex-shrink: 0;
}

.content-right {
  flex-grow: 1;
  min-width: 0; // importante para que el contenido se ajuste bien
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
