@import 'variables';

.api-page-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: flex-start;

  > * {
    flex: 1 1 300px;
    min-width: 250px;
  }
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: hidden;
}

.content-left {
  flex: 1;
  min-width: 0; // permite que se ajuste al espacio disponible
  max-width: 45vw;
  box-sizing: border-box;
  top: calc($navbar-height + $title-height);
}

.content-right {
  width: 40vw;
  position: fixed;
  top: calc($navbar-height + $title-height); // altura de la barra de navegación + el título de la página convertido a rem
  right: 0;
  height: 100vh;
  overflow: hidden;
  //border-left: 1px solid #ddd; // opcional
  box-sizing: border-box;
  z-index: 10;
  pointer-events: none; // bloquea scroll accidental (si querés)
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  app-code-example {
    height: 100%;
    flex: 1;
    overflow: visible;
    pointer-events: auto; // reactiva interacción adentro
    position: relative;
    z-index: 1;
  }
}
