@import 'variables';

.mat-mdc-tab-group.api-tabs {
  margin: $margin-tabs;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  font-family: $font-family;

  // BARRA QUE CONTIENE LAS PESTAÑAS
  .mat-mdc-tab-header {
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: $border-radius $border-radius 0 0;
    list-style: none;
    display: flex;
    background: $table-grey-header;
    font-weight: 700;
  }

  // PESTAÑAS INACTIVAS
  .mdc-tab {
    &:hover {
      border-radius: $border-radius $border-radius 0 0;
      background: $grey-hover !important;
    }
  }

  // Pestaña activa
  .mdc-tab.mdc-tab--active {
    background: $background-light;
    border-radius: $border-radius $border-radius 0 0;
    border-top: $red-border;
    &:hover {
      border-radius: $border-radius $border-radius 0 0;
      background: $background-light !important;
      cursor: default;
    }
  }

  // CONTENIDO DE LA PESTAÑA ACTIVA
  .mat-mdc-tab-body-wrapper {
    padding: 2rem;
    border-radius: 0 0 $border-radius $border-radius;
    box-shadow: none;
    background-color: $background-light !important;
  }

  // Esconder indicador de tinta inferior
  .mdc-tab-indicator {
    display: none !important;
  }
}
