@import 'variables';

// TÍTULO DE LA PÁGINA
.header-content {
  position: fixed;
  top: var(--navbar-height);
  left: var(--sidebar-width);
  right: 0;
  z-index: 1000;
  background-color: var(--bg-color);
  height: var(--title-height);
  display: flex;
  align-items: center;
  transition: height 0.4s ease;

  .page-title {
    font-size: 2rem;
    margin: 0;
    color: var(--text-color);
    font-family: var(--font-family);
    transform-origin: left center;
    padding-left: 4rem;
    transition:
      transform 0.4s ease,
      padding-left 0.4s ease,
      color 0.4s ease;
  }

  &.scrolled {
    height: 60px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.4s ease, height 0.4s ease;

    .page-title {
      transform: scale(0.8);
      padding-left: 2.4rem;
    }
  }

  &:not(.scrolled) {
    transition-delay: 0s;

    .page-title {
      transition-delay: 0s;
    }
  }
}
