@import 'src/app/layout/sidebar/sidebar.component.scss';

.page-container {
  opacity: 1;
}

// Fade-out: baja opacidad de 1→0
.fade-out {
  animation: fadeOut 300ms ease-out forwards;
}

// Fade-in: sube opacidad de 0→1
.fade-in {
  animation: fadeIn 300ms ease-in forwards;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
