@import 'variables';

:host {
  display: block;
  height: 100%;
}

.main-container {
  display: flex;
  height: auto; // ⬅ cambiamos 100vh por auto
  background-color: var(--bg-color); // si tenés uno
}

app-sidebar {
  flex-shrink: 0;
  width: var(--sidebar-width); // o el ancho que uses para tu sidebar
  height: 100%;
  border-right: 1px solid #eee;
  background-color: var(--bg-color);;
  z-index: 100;
}

.content-area {
  flex: 1;
  position: relative;
  background-color: var(--bg-color);
  padding-top: var(--title-height);
  z-index: 1;
  margin-top: var(--navbar-height);
}

@media (max-width: 1024px) {
  app-sidebar {
    display: none;
  }

  .main-container {
    flex-direction: column;
  }

  .content-area {
    width: 100%;
  }
}
