@import '~prismjs/themes/prism.css';
@import 'variables';

// EJEMPLOS DE EJECUCIÓN

.example-title { // TÍTULO DEL EJEMPLO
  margin: $margin-title-2;
  font-size: 1.8rem;
  font-family: $font-family;
  font-weight: 700;
  color: $text-color;
  border-bottom: $title-underlined;
}

.mat-accordion-BT {
  margin: 2rem 0;
  font-family: $font-family;

  .example-panel {// ELEMENTO DESPLEGABLE DE EJEMPLOS DE EJECUCIÓN Y SDT
    margin: $margin;
    background: $background-light;
    border-radius: $border-radius !important;
    box-shadow: $box-shadow !important;

    .example-panel-header {
      background: $background-light;
      color: $text-color;
      font-size: 1rem;
      font-family: $font-family;
      padding: 1.5rem;
      border-radius: $border-radius;
      font-weight: 700;
      box-shadow: none !important;

      .example-panel-title {
        font-weight: 700;
        color: $text-color;
      }

      .example-panel-indicator::after {
        color: $red-1 !important;
        border-style: solid;
        border-width: 0 2px 2px 0;
        content: "";
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        vertical-align: middle;
      }
    }

    .mat-expansion-panel-body {
      padding: 0rem 2rem 2rem;
      background: $background-light;
      //box-shadow: 15px 15px 15px 10px $shadow-light;
    }

    .mat-expansion-panel-content {
      background: $background-light;
      border-radius: $border-radius;
    }

    .mat-icon {
      color: $text-color;
      vertical-align: text-bottom;
    }
  }
}

// PESTAÑA QUE CONTIENE EL CÓDIGO
.code-toggle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #c3def3;
  border-radius: $border-radius $border-radius 0 0;
  height: auto;
  position: relative;
  overflow: hidden;
  color: $text-color !important;

  button[mat-button] { // BOTONES DE CÓDIGO
    padding: 0.4rem 0.75rem;
    background: none;
    border-radius: 0.7rem 0.7rem 0 0;
    font-weight: 700;

    // Hover solo si NO está activo
    &:not(.active):hover {
      background-color: darken(#ecf4fa, 5%);
    }

    &.active {
      background-color: #ecf4fa;

      // Que no tenga efecto hover si ya está activo
      &:hover {
        background-color: #ecf4fa;
        cursor: default;
      }
    }
  }

  button[mat-icon-button] { // BOTÓN DE COPIAR
    margin-left: auto;
    height: 2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
// FIN - PESTAÑA QUE CONTIENE EL CÓDIGO

// PROPIEDADES DEL CÓDIGO
::ng-deep pre[class*="language-"],
::ng-deep code[class*="language-"] {
  color: $text-color !important;
  background-color: #ecf4fa !important;

  .token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol, .token.deleted {
    color:#e45649 !important;
  }
  .token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.url, .token.inserted {
      color: #b76b01 !important;
  }

  .token.atrule, .token.attr-value, .token.keyword {
      color: #50a14f;
  }
}
// FIN - PROPIEDADES DEL CÓDIGO

// --- Ahora nuestro override:
pre[class*="language-"] {
  margin: 0rem !important;
  background: #ecf4fa;
  border-radius: 0 0 0.7rem 0.7rem;
  code {
    background: none;
  }
}

// Cambiamos el color de los números
:hos  t ::ng-deep .token.number {
  color: #025c52 !important;   // verde oscuro
  font-weight: 500;            // opcional, dar énfasis
}

.accordion-container {
  max-height: 400px;   /* ajusta a la altura deseada */
  overflow-y: auto;
}

/* tu panel de código interno también scrollable si quieres */
.code-container {
  max-height: 200px;
  overflow-y: auto;
}
