@import '~prismjs/themes/prism.css';
@import 'variables';

// EJEMPLOS DE EJECUCIÓN

::ng-deep .sdt-title {
  // TÍTULO DEL EJEMPLO
  margin: $margin-title-2;
  font-size: 1.8rem;
  font-family: $font-family;
  font-weight: 700;
  color: $text-color;
  border-bottom: $title-underlined;
}
