$primary-color:    #c62828;
$text-main:        #333;
$background-light: #fdfdfe;
$grey-header:      #e0e0e0;
$shadow-light:     rgba(0,0,0,0.15);
$border-radius:    1rem;
$margin:           3rem 10rem;

// ELEMENTO INICIAL
