// 1) Sólo directivas @use/@forward (antes de cualquier @import, regla o include)
//@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import 'variables';

/*
// 2) Definición de palettes y del objeto tema
$api-docs-primary: mat.define-palette(mat.$indigo-palette);
$api-docs-accent:  mat.define-palette(mat.$pink-palette, A200, A100, A400);
$api-docs-warn:    mat.define-palette(mat.$red-palette);

$api-docs-theme: mat.define-light-theme((
  color: (
    primary: $api-docs-primary,
    accent:  $api-docs-accent,
    warn:    $api-docs-warn,
  )
));
*/

// 3) Ya podemos @include los mixins de Material (una sola vez)
//@include mat.all-component-themes($api-docs-theme);

// 4) Mixins y reglas propias
@mixin card-shadow {
  box-shadow: 0 2px 8px $shadow-light;
}

// PROPIEDADES GLOBALES

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #f5f5f7 !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
}

.mat-drawer-content {
  background-color: #f5f5f7 !important;
}
// CIERRE - PROPIEDADES GLOBALES


.mat-accordion-BT {
  margin: 2rem 0;

  .mat-expansion-panel {// ELEMENTO DESPLEGABLE DE EJEMPLOS DE EJECUCIÓN Y SDT
    margin: $margin;
    background: $background-light;
    border-radius: $border-radius !important;
    box-shadow: 15px 15px 15px 10px $shadow-light !important;

    .mat-expansion-panel-header {
      background: $background-light;
      color: $text-main;
      font-size: 1rem;
      font-family: $font-family;
      padding: 1.5rem;
      border-radius: $border-radius;
      font-weight: 700;

      .mat-panel-title {
        font-weight: 500;
        color: $text-main;
      }
      .mat-expansion-indicator::after {
        color: $red-1;
        font-weight: 700;
      }
    }

    .mat-expansion-panel-body {
      padding: 0rem 2rem 2rem;
      background: $background-light;
      box-shadow: 15px 15px 15px 10px $shadow-light;
    }

    .mat-expansion-panel-content {
      background: $background-light;
      border-radius: $border-radius;
    }

    .mat-icon {
      color: $text-main;
      vertical-align: text-bottom;
    }
  }
}
