// 1) Sólo directivas @use/@forward (antes de cualquier @import, regla o include)
//@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import 'variables';

@mixin card-shadow {
  box-shadow: 0 2px 8px $shadow-light;
}

// PROPIEDADES GLOBALES
html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  overflow: hidden; // ✅ no queremos scroll global
}
body {
  margin: 0;
  background-color: #f5f5f7 !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  color: $text-color;
}

.mat-drawer-content {
  background-color: #f5f5f7 !important;
}
// CIERRE - PROPIEDADES GLOBALES



a {
  color: $red-1 !important;
  text-decoration: none;
  &:hover {
    color: darken($red-1, 5%) !important;
    text-decoration: underline;
  }
}
