// 1) Sólo directivas @use/@forward (antes de cualquier @import, regla o include)
//@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import 'variables';

@mixin card-shadow {
  box-shadow: 0 2px 8px $shadow-light;
}

// PROPIEDADES GLOBALES
html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  overflow: hidden; // ✅ no queremos scroll global
}
body {
  margin: 0;
  background-color: #f5f5f7 !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  color: $text-color;
}

.mat-drawer-content {
  background-color: #f5f5f7 !important;
}
// CIERRE - PROPIEDADES GLOBALES

.mat-accordion-BT {
  margin: 2rem 0;
  font-family: $font-family;

  .mat-expansion-panel {// ELEMENTO DESPLEGABLE DE EJEMPLOS DE EJECUCIÓN Y SDT
    margin: $margin;
    background: $background-light;
    border-radius: $border-radius !important;
    box-shadow: $box-shadow !important;

    .mat-expansion-panel-header {
      background: $background-light;
      color: $text-color;
      font-size: 1rem;
      font-family: $font-family;
      padding: 1.5rem;
      border-radius: $border-radius;
      font-weight: 700;
       box-shadow: none !important;

      .mat-panel-title {
        font-weight: 500;
        color: $text-color;
      }
      .mat-expansion-indicator::after {
        color: $red-1;
        font-weight: 700;
      }
    }

    .mat-expansion-panel-body {
      padding: 0rem 2rem 2rem;
      background: $background-light;
      //box-shadow: 15px 15px 15px 10px $shadow-light;
    }

    .mat-expansion-panel-content {
      background: $background-light;
      border-radius: $border-radius;
    }

    .mat-icon {
      color: $text-color;
      vertical-align: text-bottom;
    }
  }
}

a {
  color: $red-1 !important;
  text-decoration: none;
  &:hover {
    color: darken($red-1, 5%) !important;
    text-decoration: underline;
  }
}
