@import 'variables';

.navbar {
  position: fixed;
  display: flex;
  box-sizing: border-box;
  box-shadow: 0 8px 15px (rgba(0, 0, 0, .15));

  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;

  top: 0;
  left: 0;
  right: 0;
  z-index: 175;
  height: var(--navbar-height);
  background-color:var(--bg-color);
}

.logo {
    vertical-align: middle;
    height: calc( 3.25rem - .5rem);
    margin-inline-end: .8rem;
    margin-left: -1rem;
}

.toggle-theme-button {
  border: none;
  background: none;
  color: var(--text-color);
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--grey-hover);
  }
}

.toggle-theme-button .material-icons {
  transition: transform 0.4s ease;
}

.toggle-theme-button:hover .material-icons {
  transform: scale(1.2);
}

.toggle-theme-button.rotate {
  .material-icons {
    transform: rotate(180deg);
  }
}

